body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(to bottom right, #000, #0e6d2a);
    
}

h2 {
    text-align: center;
    color: #12abd1;
    position: fixed; /* 페이지의 상단에 고정 */
    top: 0; /* 페이지의 맨 위에 위치 */
    font-style: normal;
    font-size: 75px;
    font-weight: 100vw;
    text-align: center;
    height: 100px;
}

p {
    text-align: center;
    color: #dde010;
    margin-top: -40px;
    font-size: 30px;
}

.donation-container {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

label {
    font-weight: bold;
    color: aqua;
}

input[type="text"] {
    padding: 8px;
    margin: 0 10px;
    border: 1px solid #4e16a8;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
#clearButton {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* 다른 버튼과의 간격 조절 */
  }
  
  #clearButton:hover {
    background-color: #d32f2f;
  }
  
  #clearButton:active {
    background-color: #b71c1c;
  }
  
  #clearButton:focus {
    outline: none;
  }
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center; /* 가운데 정렬 */
    padding: 20px; /* 내부 여백 */
    background-color: #333; /* 배경색 */
    font-weight: bolder;
}

  footer span {
    color: #ccc;
    
  }
 
  .text-muted {
    color: #ffffff; /* 회색 글씨 */
    margin: 0;
  }